@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

$qgmargin: 15px;

.quickgallery {
    @include clearfix;
    margin: 0 (-$qgmargin);
    .qgcol {
        box-sizing: border-box;
        padding: 0 $qgmargin;
        float: left;
    }
    figure {
        margin-bottom: $qgmargin * 2;
        position: relative;
        a {
            position: absolute;
            width: 100%;
            height:   100%;
            display: block;
            div {
                position:            absolute;
                width:               100%;
                height:              100%;
                background-size:     cover;
                background-position: center;
            }
        }
    }
}